[run]
omit = */unittests/*
       */deps/*
       */tests/*
       */__main__.py*
       */virtual-env*/*
       */get_pytest_cmd.py
branch = True
dynamic_context = test_function

[report]
skip_covered = False
fail_under = 97
show_missing = True

[html]
directory = tests/htmlcov
title = LoadEnv Coverage Report
show_contexts = True

[xml]
output = tests/coverage.xml

[json]
output = tests/coverage.json
pretty_print = True
show_contexts = True
