# Unit Testing Requirements
pytest
pytest-cov

# Private Repositories
setenvironment @ git+https://internal.gitlab.server/trilinos-devops-consolidation/code/SetEnvironment.git@master#egg=setenvironment
determinesystem @ git+https://internal.gitlab.server/trilinos-devops-consolidation/code/DetermineSystem.git@master#egg=determinesystem
