.DS_Store
._.DS_Store
*~
___*

# pytest temp files
.coverage
*,cover
htmlcov
doc/html
src
dist
setenvironment-dist
*.whl

# python object files
*.pyo
*.pyc
__pycache__

# created by setup.py
build

# testing subdir
tests

# wingide user-specific configuration file
*.wpu

poetry.lock
venv-*
