#
# Main requiremetns for using this project are in this file.
#

# Core Requirements
configparserenhanced

# Privately hosted repositories
# configparserenhanced @ git+https://github.com/sandialabs/ConfigParserEnhanced.git@master#egg=configparserenhanced
# configparserenhanced @ git+ssh://git@internal.gitlab.server/trilinos-devops-consolidation/code/ConfigParserEnhanced.git@master#egg=configparserenhanced

