# Core Requirements
configparser

# Unit Testing Requirements
mock
pytest
pytest-cov

# Private Repositories
configparserenhanced @ git+https://internal.gitlab.server/trilinos-devops-consolidation/code/ConfigParserEnhanced.git@master#egg=configparserenhanced

