[submodule "deps/ConfigParserEnhanced"]
	path = deps/ConfigParserEnhanced
	url = git@internal.gitlab.server:trilinos-devops-consolidation/code/ConfigParserEnhanced.git
[submodule "deps/SetEnvironment"]
	path = deps/SetEnvironment
	url = git@internal.gitlab.server:trilinos-devops-consolidation/code/SetEnvironment.git
[submodule "deps/DetermineSystem"]
	path = deps/DetermineSystem
	url = git@internal.gitlab.server:trilinos-devops-consolidation/code/DetermineSystem.git
[submodule "deps/KeywordParser"]
	path = deps/KeywordParser
	url = git@internal.gitlab.server:trilinos-devops-consolidation/code/KeywordParser.git
[submodule "deps/LoadEnv"]
	path = deps/LoadEnv
	url = git@internal.gitlab.server:trilinos-devops-consolidation/code/loadenv.git
[submodule "deps/SetProgramOptions"]
	path = deps/SetProgramOptions
	url = git@internal.gitlab.server:trilinos-devops-consolidation/code/SetProgramOptions.git
