# Unit Testing Requirements
pytest
pytest-cov

# Private Repositories
configparserenhanced @ git+ssh://git@internal.gitlab.server/trilinos-devops-consolidation/code/ConfigParserEnhanced.git@master#egg=configparserenhanced
keywordparser @ git+ssh://git@internal.gitlab.server/trilinos-devops-consolidation/code/KeywordParser.git@master#egg=keywordparser
